<div class="title">
  <h1>나의 하루</h1>
  <h2>{{ today | date:'M월 d일' }}</h2>
</div>
<div>
  <!--
  <div *ngFor="let todo of todos" (click)="todo.done = !todo.done">
    <input type="checkbox" [checked]="todo.done" /> {{ todo.text }}
  </div>
  -->

  <div *ngFor="let todo of todos" (click)="toggleTodo(todo)">
    <!-- 자식 컴포넌트에서 @Input 데코레이터를 사용하여 [todo] 값을 입력받음 -->
    <app-todo [todo]="todo"></app-todo>
  </div>
</div>
<div>
  <!-- 자식 컴포넌트에서 @Output 데코레이터를 사용하여 (onTodoAdded) 이벤트를 발생 -->
  <app-add-todo (onTodoAdded)="addTodo($event)"></app-add-todo>
</div>

{{ todos | json }}
